canvas {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow: hidden !important;
}

body {
    margin: 0;
    font-size: 13px;
    line-height: 1.231;
    -ms-content-zooming: none;
    -ms-touch-action: none;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #222;
    background: #77bfdb;
}

::-moz-selection { background: #BA77F2; color: #77bfdb; text-shadow: none; }
::selection { background: #BA77F2; color: #77bfdb; text-shadow: none; }

a {
    color: #77bfdb;
    position: relative;
    text-decoration: none;
}

a:before {
    content: "\A";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:visited {
    color: #F0A575;
}

a:hover {
    color: #77bfdb;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

hr {
    margin: 30px 0 5px 0;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

pre {
    margin: 50px auto;
    max-width: 60%;
    padding: 10px;
    background-color: #2B303B;
    border: 5px solid black;
}

pre code {
    font-family: "Droid Sans Mono", Menlo, Courier New, Courier, Mono, monospace;
    font-size: .8em;
}
pre.scss .tag {
    color: #BF616A;
}
pre.scss .punctuation {
    color: #F0F1F5;
}
pre.scss .property {
    color: #90B0AE;
}
pre.scss .value {
    color: #D08770;
}
pre.scss .comment {
    color: #576670;
}
pre.html {
    color: #F0F1F5;
}
pre.html .tag {
    color: #BF616A;
}
pre.html .attribute {
    color: #D08770;
}
pre.html .value {
    color: #9DBE8C;
}

sub, sup {
    position: relative;
    vertical-align: baseline;
    font-size: 0.8em;
    line-height: 0;
}

sup {
    top: -0.4em;
}

sub {
    bottom: -0.2em;
}

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }



img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

p {
  margin: 0 0 1.66667em;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 1.5;
}

.cardView p {
    position:absolute;
    pointer-events:none;
    cursor:default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top:80px;
    left:20px;
    width:460px;
    text-align: center;
    color:#FFFFFF;
    font-size: 18px;
    font-family:Calibri, Arial, Helvetica, sans-serif;
}

h1 {
    color: #525559;
    font-weight: 300;
    font-size: 2.625em;
    line-height: 1.09524;
    margin-top: 0;
    margin-bottom: 1.66667em;
}

.cardView h1 {
    position:absolute;
    cursor:default;
    pointer-events:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top:20px;
    width:500px;
    text-align: center;
    color:#FFFFFF;
    font-size: 50px;

}

h2 {
    color: #999da1;
    margin-bottom: 0.91667em;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 1.5em;
}
h3 {
    font-size: 1.125em;
}

h4 {
    margin-top: 1.375em;
    margin-bottom: 2.57143em;
    color: #d6d7d9;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 0.875em;
}

@media (min-width: 769px) {
    h4 {
        margin-top: 2.625em;
    }
}

.domGridNode{
    position: absolute;
    width: 250px;
    height: 250px;
}


.cardView{
    margin:0;
    padding:0;
    width: 500px;
    height: 500px;
    position: absolute;
    display:none;
    z-index: 3;
}

#cardText{
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #FFFFFF;
    border:solid 1px black;
    padding:8px;
    box-shadow:inset -3px 2px 5px -2px #000000;
}

#countView{
    font-family:Calibri, Arial, Helvetica, sans-serif;
    height:7px;
    font-size: 10px;
}

.closeButton{
    position: absolute;
    top:-7px;
    left:455px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.closeButtonSmall{
    position: absolute;
    top:8px;
    left:470px;
    z-index: 100;
    cursor: pointer;
}
.cardView a{
    z-index: 100;
    color:inherit;
    text-decoration:none;
}

.detailDOMTitle{
    position:absolute;
    cursor:default;
    width:460px;
    text-align: center;
    color:#FFFFFF;
    font-size: 30px;
    font-family:'Conv_Curse Casual',Sans-Serif;
}

.detailDOMName{
    position:absolute;
    cursor:default;
    width:460px;
    text-align: center;
    font-weight:bold;
    color:#000000;
    font-size: 12px;
    font-family:Calibri, Arial, Helvetica, sans-serif;
}

.cardView footer {
    position:absolute;
    cursor:default;
    top:455px;
    width:500px;
    text-align: center;
    color:#000000;
    font-size: 15.3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family:Calibri, Arial, Helvetica, sans-serif;
}

.topStrip{
    width: 100%;
    background-image: url("../img/topStrip.png");
    height:50px;
    position: absolute;
    z-index: 100;
}

.loaderText{
    position: absolute;
    font-family:'Conv_Curse Casual',Sans-Serif;
    color: #FFFFFF;
    font-size: 70px;
    width: 1024px;
    text-align:center;
    margin-left: -512px;
}

.mcTab{
    position: absolute;
//  top:30px;
    left:20px;
    z-index: 100;
}






/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
